<a href="https://colab.research.google.com/github/Peksyaji/UTBK-2019/blob/main/UTBK_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
saintek = pd.read_csv('https://raw.githubusercontent.com/Peksyaji/UTBK-2019/main/score_science.csv')
saintek.head()

   Unnamed: 0  id_first_major  ...  score_mat  score_ppu
0           0         3321065  ...        400        400
1           1         3211015  ...        695        562
2           2         3721093  ...        551        668
3           3         3321096  ...        507        573
4           4         5211104  ...        666        370

[5 rows x 14 columns]

In [5]:
saintek = saintek.drop(['Unnamed: 0','id_first_major','id_first_university','id_second_major','id_second_university','id_user'])
saintek.head()

KeyError: ignored